
.header{
    margin-top: 50px;
}

.header h1{
    font-size: 42px;
    font-weight: 800;
}

.header p{
    color: #8257E6;
    font-weight: 600;
}

.profile-pic{
    width: 100px;
    margin: 15px 0;
    border-radius: 100%;
}