.error404{
    background: url('https://media.giphy.com/media/3ov9jXmymITzNkLG5W/giphy.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.error404{
    position: absolute;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}

.error404 h1{
    font-size: 100pt;
}

.error404 h2{
    font-weight: 500;
}

.Erro404-link{
    width: 300px;
    height: 50px;
    margin: 2em 0;
    color: #fefefe;
    background-color: #6120b6;
    justify-content: center;
    vertical-align: middle;
    font-weight: 800;
    font-size: 12pt;
}

