
.menu-content{
    position: fixed;
    top: 0;
    right: 0vw;
    z-index: 105;
    width: 100vw;
    height: 100vh;
    background-color: #fefefe;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    visibility: hidden;
    transform: scale(0);
    border-radius: 10px;
    transition: all .5s linear;
}

.menu-content-itens{
    width: 80%;
    height: 90vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.menu-content-itens ul{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
}

.menu-content-itens ul > h4{
    margin-right: 20px;
}

.menu-content-itens ul > span{
    margin: 0 20px;
}

.menu-content-itens li{
    display: flex;
    flex-direction: row;
    margin: 10px 0;
}

.menu-content-itens li span{
    margin: 0 20px;
    color: #222;
    transition: all .2s linear;
}

.menu-content-itens li span:hover{
    margin: 0 20px;
    color: #0e9efd !important;
    transition: all .2s linear;
}

.col{
    display: flex !important;
    flex-direction: column !important;
}

.col a{
    margin: 3px 0;
    padding: 1px 20px;
    color: #000;
}

.col a:hover{
    margin: 3px 0;
    padding: 1px 20px;
    color: #0e9efd;
}

#fullscreen:hover{
    color: #ffce09 !important;
}

.menu-content-itens h2{
    margin: 1em 0;
    margin-top: 0;
}

.btnMenu{
    z-index: 100;
    position: absolute;
    top: 0;
    right: 0;
    color: greenyellow !important;
    margin: 2em;
    display: none;
    transition: all .2s linear;
    visibility: hidden;
}

.btnMenuBlack{
    position: absolute;
    top: 0;
    right: 0;
    margin: 1em;
    color: #000;
    font-size: 30px !important;
    transition: all .2s linear;
}


.btnMenu:hover, .btnMenuBlack:hover {
    color: #ffce09 !important;
    transition: all .2s linear;
}